@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:wght@300&display=swap');
 
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}

header {
    color: #fff;
}

header nav li {
    display: inline;
    font-size: 18px;
    padding: 30px;
    margin-top: 14px;
}

header nav li a{
    text-decoration: none;
    color: #fff;
}

/* body {
    overflow: hidden;
} */

.background {
    background: linear-gradient(rgba(0, 0, 0, 0.5));
    background-image: url(./images/fundo.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.logo {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
}

.logo h1 {
    margin-top: 14px;
}

.logo a:hover {
    color: chocolate;
    transition: 0.3s all;
}

header .logo,
section .inicio {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    color:#fff;
    background: transparent;
    border: solid 2px #fff;
    padding: 7px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 300;
    width: 150px;
    cursor: pointer;
}

button:hover {
    background-color: #fff;
    color: black;
    transition: 0.5s;    
}

.inicio {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.inicio h1{
    margin-inline: 8px;
    margin-top: 150px;
}

.inicio h2{
    color: chocolate;
    font-size: 130px;
    margin-top: -40px;
}

.inicio p{
    margin-inline: 8px;
    margin-top: -20px;
}

.redes {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.redes a {
    color: chocolate;
    padding: 8px;
    margin-top: 5px;
}
