@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:wght@300&display=swap');
 
* {
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
list-style: none;
font-family: "Poppins", sans-serif;
}

body {
    overflow: hidden;
}

.background {
    background: linear-gradient(rgba(0, 0, 0, 0.5));
    background-image: url(./images/fundo.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    padding-top: 1rem;
}

.cabeçalho-link {
    display: flex;
    gap: 3rem;
    font-weight: 300;
    cursor: pointer;
}

.cabeçalho-link a {
    color: #fff;
    font-size: 14px;
}

.cabeçalho-link a:hover {
    color: chocolate;
    transition: 0.3s all;
}

.logo {
    height: 40px;
    width: 40px;
    background: transparent;
    /* border:  2px solid #fff; */
    color: #fff;
    /* border-radius: 50%; */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    cursor: pointer;
}

button {
    color:#fff;
    background: transparent;
    border: solid 2px #fff;
    padding: 5px;
    border-radius: 15px;
    font-size: 12px;
    width: 150px;
    cursor: pointer;
}

button:hover {
    background-color: #fff;
    color: black;
    transition: 0.5s;    
}

.inicio {
    padding: 150px 0 0px 130px;    
}

.text h1 {
    color: #fff;
    /* margin-top: 10px; */
    height: 10px;
}

.text h2 {
    color:chocolate;
    font-size: 100px;
    height: 125px;    
}

.text p {
    color: #fff;
    font-size: 15px;
    /* font-weight: 300; */
    height: 55px;
}

.redes a {
    color: chocolate;
    padding: 8px;
    margin-top: 5px;
}

.btn {
    margin-top: 10px;
}

.container {
    display: flex;
    margin-top: 150px;
    color: #fff;
}