@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:wght@300&display=swap');
 
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}

header {
    color: #fff;
}

header nav li {
    display: inline;
    font-size: 14px;
    padding: 18px;
}

header nav li a{
    text-decoration: none;
    color: #fff;
}

/* body {
    overflow: hidden;
} */

.background {
    background: linear-gradient(rgba(0, 0, 0, 0.5));
    background-image: url(./images/fundo.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.logo {
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
}

.logo h1 {
    margin-top: 25px;
    font-size: 25px;
}

.logo a:hover {
    color: chocolate;
    transition: 0.3s all;
}

header .logo,
section .inicio .sobre {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    color:#fff;
    background: transparent;
    border: solid 2.5px #fff;
    padding: 7px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 300;
    width: 150px;
    cursor: pointer;
    margin-top: 25px;
}

button:hover {
    background-color: #fff;
    color: black;
    transition: 0.5s;    
}

.inicio {
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
}

.inicio h1{
    color: rgb(198, 198, 198);
    margin-inline: 25px;
    margin-top: 100px;
    font-size: 28px;
}

.inicio h2{
    font-size: 110px;
    margin-top: -28px;
}

.math{
    /* background: -webkit-linear-gradient(left, brown); */
    background: linear-gradient(to right,brown,rgb(204, 92, 13), brown);
    background-clip: 0;  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.inicio p{
    margin-inline: 40px;
    margin-top: -5px;
    font-size: 16px;
    color: rgb(198, 198, 198);
}

.redes {
    display: flex;
    flex-direction: column;
    margin-inline: 25px;
    margin-top: 50px;
}

i.fa-brands.fa-github{
    background: linear-gradient(to right,brown,rgb(204, 92, 13));
    background-clip: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
    padding: 5px;
    margin-top: 10px;
}

i.fa-brands.fa-linkedin {
    background: linear-gradient(to right,brown,rgb(204, 92, 13));
    background-clip: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
    padding: 5px
}

i.fa-solid.fa-arrow-up{
    color:rgb(123, 87, 157);
    font-size: 1.5em;
    margin-inline: 9px;  
}

/* ================================ Section 01 */

section .container {
   background-color: black;
    width: 100%;
    height: 100vh;
}

section h2, p{
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    color: #fff;
}

.container h2 {
    display: block;
    margin-inline: center;
}

span {
    background: linear-gradient(to right,brown,rgb(204, 92, 13));
    background-clip: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
}

img {
    width: 350px;
    background: linear-gradient(to right,brown,rgb(204, 92, 13));
    background-clip: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container {
    display: flex;
}





































